<%- include ../partials/header.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h1><%= title %></h1>
        <br>
        <div>
            <!-- ------------------------ -->
            <!-- Fix the ADD button below -->
            <!-- ------------------------ -->
            <a href="/movie/add" class="btn btn-primary align-self-end" role="button">
                <i class="fas fa-plus-circle"></i> 
                Add a new Item
            </a>                
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Synopsis</th>
                    <th class="text-center">Year</th>                    
                    <th class="text-center">Director</th>
                    <th class="text-center">Genre</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < movies.length; count++) { %>
                    <tr>
                        <td class="text-center">
                            <a href="/movie/details/<%= movies[count]._id %>">
                                <%= movies[count].Title %>
                            </a>
                        </td>
                        <td class="text-center"><%= movies[count].Synopsis %></td>
                        <td class="text-center"><%= movies[count].Year %></td>
                        <td class="text-center"><%= movies[count].Director %></td>
                        <td class="text-center"><%= movies[count].Genre %></td>
                        
                        <td class="text-center">
                            <!-- ------------------------- -->
                            <!-- Fix the EDIT button below -->
                            <!-- ------------------------ -->
                            <a href="/movie/edit/<%= movies[count]._id ._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <!-- --------------------------- -->
                            <!-- Fix the DELETE button below -->
                            <!-- --------------------------- -->
                            <a href="/movie/delete/<%= movies[count]._id ._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
<%- include ../partials/footer.ejs %>