<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= incident._id %>"
                    >
                    <label for="incidentTextField">IncidentExplanation</label>
                    <input type="text" class="form-control"
                        id="incidentTextField"
                        placeholder="Enter the IncidentExplanation"
                        name="IncidentExplanation" 
                        value="<%= incident.IncidentExplanation %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="incidentTextField">User</label>
                    <input type="text" class="form-control"
                        id="incidentTextField"
                        placeholder="Enter the User"
                        name="User" 
                        value="<%= incident.User %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="statusTextField">Department</label>
                    <input type="text" class="form-control"
                    id="statusTextField"
                    placeholder="00"
                    name="Department" 
                    value="<%= incident.Department %>"
                    >
                </div>
                <br />
                <div class="form-group">
                    <label for="incidentTextField">Solved</label>
                    <input type="text" class="form-control"
                        id="incidentTextField"
                        placeholder="Enter the Solved"
                        name="Solved" 
                        value="<%= incident.Solved %>"
                        required>
                </div>
               
                <br />

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/incident/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>