<%- include ../partials/header.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h1><%= title %></h1>
        <br>
        <div>
            <!-- ------------------------ -->
            <!-- Fix the ADD button below -->
            <!-- ------------------------ -->
            <a href="/incident/add" class="btn btn-primary align-self-end" role="button">
                <i class="fas fa-plus-circle"></i> 
                Add a new Item
            </a>                
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">IncidentExplanation</th>
                    <th class="text-center">User</th>
                    <th class="text-center">Department</th>                    
                    <th class="text-center">Solved</th>
                  
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < incidents.length; count++) { %>
                    <tr>
                        
                        <td class="text-center"><%= incidents[count].IncidentExplanation %></td>
                        <td class="text-center"><%= incidents[count].User %></td>
                        <td class="text-center"><%= incidents[count].Department %></td>
                        <td class="text-center"><%= incidents[count].Solved %></td>
                        
                        <td class="text-center">
                            <!-- ------------------------- -->
                            <!-- Fix the EDIT button below -->
                            <!-- ------------------------ -->
                            <a href="/incident/edit/<%= incidents[count]._id ._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <!-- --------------------------- -->
                            <!-- Fix the DELETE button below -->
                            <!-- --------------------------- -->
                            <a href="/incident/delete/<%= incidents[count]._id ._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
<%- include ../partials/footer.ejs %>